<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExVue</title>
</head>
<body>
    

    <div id="app">
        <header>
            <h1>Todolist</h1>
        </header>

        <main>
            <div class="container">
                <input @keyup.enter="addTodo" type="text" v-model="newTodo">
                <input  @click="addTodo" type="button" value="Aggiungi"></input>
            </div>

            <div class="container">
                <ul class="todoList">
                    <li class="todo"                
                        :class="[todo.done ? 'done' : '',classiTodos]"
                        v-for="(todo,index) in todos">
                            {{todo.text}}
                            <i @click="toggleDoneOf(todo)" class="fa-regular fa-circle-xmark"></i>
                    </li>
                </ul>
            </div>
            <div class="container">
                <ul class="todoList">

                </ul>
            </div>
        </main>
    </div>


    <script src="./javascript/app.js"></script>
</body>
</html>         